body {
    font-size: 13px;
    font-family: arial,sans-serif;
    font-size: small;
    color: #222;
    margin: 0;
    padding: 0;
}

#container {
    top: 0;
    width: 100%;
    min-height: 100%;
    min-width: 1139px;
    margin: 0 auto;
}

#navleft {
    float: left;
    padding: 15px 9px;
    color: #000;  
    
}

#navright {
    text-align: right;
    padding: 15px 9px;
    color: #000;   
}

#gim {
    margin: 0 auto;
   }

#search {
    text-align: center;
    height: 233px;
    margin-top: 89px;
}

.appsbutton {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    box-sizing: border-box;
}   

#region {
    position: fixed;
    bottom: 35px;
    list-style-type: none;
    margin-left: 0;
    padding: 2px;
    border: 1px solid;
    border-bottom: 0px;
    border-color: rgb(204, 204, 204);
    background-color: rgb(235, 235, 235);
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

#endnav {
    position: fixed;
    bottom: 0;
    list-style-type: none;
    margin: 0;
    padding: 14px;
    border: 1px solid;
    border-bottom: 0px;
    border-color: rgb(204, 204, 204);
    background-color: rgb(235, 235, 235);
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

#space {
    margin-right: 50px;
}

a:link {
    text-decoration: none;
    color: #000;
    padding-left: 15px;
}
  
a:visited {
    text-decoration: none;
    color: #000;
}
  
a:hover {
    text-decoration: underline;
    color: #000;
}
  
a:active {
    text-decoration: underline;
}

p {
    padding-left: 28px;
    font-size: 15px;
}
